html,
body {
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
}

.section {
  margin-bottom: 12px;
}

.title {
  font-weight: 200;
  font-size: 33px;
  color: #0c0c0d;
}

.subtitle {
  margin: 3px auto;
  font-weight: 600;
  font-size: 17px;
  color: #0c0c0d;
}

.body-caption {
  margin: 3px auto;
  font-weight: 400;
  font-size: 15px;
  color: #737373;
}

.body-text {
  font-weight: 400;
  font-size: 13px;
  color: #0c0c0d;
}

#urls {
  margin-bottom: 12px;
}

#urls input {
  padding: 0px 3px;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 3px;
}

#urls input,
#urls button {
  margin-right: 3px;
}